.form-container-basic {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container-basic div {
  margin-bottom: 10px;
}

.form-container-basic label {
  display: block;
  font-size: 14px;
  color: #f5f0f0;
  margin-bottom: 5px;
  font-weight: 300;
}

.form-container-basic input[type="text"],
.form-container-basic textarea,
.form-container-basic input[type="email"],
.form-container-basic input[type="number"],
.form-container-basic input[type="datetime-local"],
.form-container-basic select {
  width: 97%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s;
}
.form-container-basic select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s;
}
.form-container-basic input:focus,
.form-container-basic select:focus {
  border-color: #007bff;
}

.form-container-basic button[type="submit"] {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: rgb(0, 128, 64);
  color: #ebe9e9;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
  letter-spacing: 1.5px;
}

.form-container-basic button[type="submit"]:hover {
  background-color: #005f40;
}

.form-container-basic input[type="checkbox"] {
  margin-left: 0;
}
.custom-file-input::-webkit-file-upload-button {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button:hover {
  background-color: #ccc;
}
